<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.one.ewms.business.account.mapper.ControlInMapper">
  <resultMap id="BaseResultMap" type="com.soft.one.ewms.domain.ControlIn">
    <!--@mbg.generated-->
    <!--@Table control_in-->
    <result column="User_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
</mapper>