<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.one.ewms.business.account.mapper.LogInMapper">
  <resultMap id="BaseResultMap" type="com.soft.one.ewms.domain.LogIn">
    <!--@mbg.generated-->
    <!--@Table log_in-->
    <id column="First_id" jdbcType="BIGINT" property="firstId" />
    <result column="User_id" jdbcType="VARCHAR" property="userId" />
    <result column="Equipment" jdbcType="VARCHAR" property="equipment" />
    <result column="In_date" jdbcType="TIMESTAMP" property="inDate" />
    <result column="Out_date" jdbcType="TIMESTAMP" property="outDate" />
    <result column="Out_type" jdbcType="INTEGER" property="outType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    First_id, User_id, Equipment, In_date, Out_date, Out_type
  </sql>

  <update id="updateloginfo" >
    UPDATE  log_in
        SET
        Out_date = #{outDate},
        Out_type = #{outType}
        WHERE User_id = #{userId} and Out_date is null
  </update>
</mapper>