<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.one.ewms.business.account.mapper.UserInformationMapper">
  <resultMap id="BaseResultMap" type="com.soft.one.ewms.domain.UserInformation">
    <!--@mbg.generated-->
    <!--@Table user_information-->
    <id column="User_id" jdbcType="VARCHAR" property="userId" />
    <result column="User_psw" jdbcType="VARCHAR" property="userPsw" />
    <result column="User_name" jdbcType="VARCHAR" property="userName" />
    <result column="Tel" jdbcType="VARCHAR" property="tel" />
    <result column="Fr_id" jdbcType="VARCHAR" property="frId" />
    <result column="Roid_id" jdbcType="VARCHAR" property="roidId" />
    <result column="Psw_date" jdbcType="TIMESTAMP" property="pswDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    User_id, User_psw, User_name, Tel, Fr_id, Roid_id, Psw_date
  </sql>

  <select id="selectByPrimaryKey" resultType="UserInformation">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    log_in
    WHERE userid = #{userid}
  </select>

    <update id="updateinformation">
      UPDATE  user_information
        SET
        User_psw = #{userPsw},
        Tel = #{tel},
        User_name = #{username}
        WHERE userid = #{userid}
    </update>

    <update id="setuserinfo">
      UPDATE  user_information
        SET
        User_psw = #{userPsw},
        User_name = #{username}
        WHERE userid = #{userid}
    </update>


</mapper>