<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.one.ewms.domain.mappers.user.ControlInMapper">
  <resultMap id="BaseResultMap" type="com.soft.one.ewms.domain.pojos.user.ControlIn">
    <!--@mbg.generated generated on Wed Feb 19 20:22:21 CST 2020.-->
    <!--@Table control_in-->
    <result column="User_id" jdbcType="VARCHAR" property="userId" />
    <result column="Equipment" jdbcType="VARCHAR" property="equipment" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Feb 19 20:22:21 CST 2020.-->
    User_id, Equipment
  </sql>
</mapper>