<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.one.ewms.domain.mappers.user.FunctionRangeMapper">
  <resultMap id="BaseResultMap" type="com.soft.one.ewms.domain.pojos.user.FunctionRange">
    <!--@mbg.generated generated on Wed Feb 19 20:22:21 CST 2020.-->
    <!--@Table function_range-->
    <id column="Fr_id" jdbcType="VARCHAR" property="frId" />
    <id column="F_id" jdbcType="VARCHAR" property="fId" />
  </resultMap>
</mapper>