<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.one.ewms.domain.mappers.user.LogInMapper">
  <resultMap id="BaseResultMap" type="com.soft.one.ewms.domain.pojos.user.LogIn">
    <!--@mbg.generated generated on Wed Feb 19 20:22:21 CST 2020.-->
    <!--@Table log_in-->
    <id column="First_id" jdbcType="BIGINT" property="firstId" />
    <result column="User_id" jdbcType="VARCHAR" property="userId" />
    <result column="Equipment" jdbcType="VARCHAR" property="equipment" />
    <result column="In_date" jdbcType="TIMESTAMP" property="inDate" />
    <result column="Out_date" jdbcType="TIMESTAMP" property="outDate" />
    <result column="Out_type" jdbcType="INTEGER" property="outType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Feb 19 20:22:21 CST 2020.-->
    First_id, User_id, Equipment, In_date, Out_date, Out_type
  </sql>

  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from log_in
    <where>
      <if test="userId != null and userId != ''">
      User_id like CONCAT ('%',#{userId},'%')
      </if>
      <if test="equipment != null and equipment != '' ">
      and Equipment like CONCAT ('%',#{equipment} ,'%')
      </if>
      <if test="beginDate != null" >
        and <![CDATA[In_date >= #{beginDate, jdbcType=TIMESTAMP} ]]>
      </if>
      <if test="endDate != null">
        <![CDATA[and Out_date <= #{endDate, jdbcType=TIMESTAMP} ]]>
      </if>
    </where>
  </select>

  <select id="selectByUserIdAndOutDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from log_in
    where
    User_id = #{userId}
    and Out_date is null
  </select>

</mapper>