<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.one.ewms.domain.mappers.user.OperationRoleMapper">
  <resultMap id="BaseResultMap" type="com.soft.one.ewms.domain.pojos.user.OperationRole">
    <!--@mbg.generated generated on Wed Feb 19 20:22:21 CST 2020.-->
    <!--@Table operation_role-->
    <id column="Roid_id" jdbcType="VARCHAR" property="roidId" />
    <result column="Roid_type" jdbcType="VARCHAR" property="roidType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Feb 19 20:22:21 CST 2020.-->
    Roid_id, Roid_type
  </sql>
</mapper>