<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.one.ewms.business.permission.mapper.OperationRangeMapper">
  <resultMap id="BaseResultMap" type="com.soft.one.ewms.domain.OperationRange">
    <!--@mbg.generated generated on Wed Jan 08 15:19:40 CST 2020.-->
    <!--@Table operation_range-->
    <id column="Roid_id" jdbcType="VARCHAR" property="roidId" />
    <id column="Acc_no" jdbcType="CHAR" property="accNo" />
  </resultMap>
</mapper>